.rk-quotationStatusNavBar .nav-link.active:hover{
    color: #fff;
  }
  .nav-items{
    width: 170px;
  }
  .nav-tabs .nav-link.ss-nav-link {
      padding: 0.6rem 1rem;
  }

  .verifymessage{
    cursor: pointer;
    text-decoration: underline;
  }
  
  .addCursor.active{
    color: #980029;
    border-bottom: 2px solid #980029;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .text-head{
      font-family: 'roboto';
      font-weight: 400;
      font-size: 26px;
      line-height: 1.27;
      color: #808080;
  }
  .card-shadow{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .card-header-link,.card-body-link{
      background-color: #EAEAEA !important;
      border-bottom: none !important;
  }
  .panel-title > button:before {
      float: right !important;
      font-family: FontAwesome;
      content:"\f106";
      padding-right: 5px;
      margin-left: 40rem;
      font-size: 1.9rem;
  }
  .panel-title > button.collapsed:before {
      float: right !important;
      content:"\f107";
      margin-left: 40rem;
  }
  .boq-link{
      font-weight: 500;
      color: #8d0528;
  }
  .divActive{
    background: #8c031f;
    color: white;
    text-align: center;
    border-radius: 5px;
    line-height: 2.1;
    padding-left: 7px;
    padding-right: 7px;
  }
  .showCase{
    background: rgb(234, 234, 234) !important;
  }
  .table td{
    padding: 1rem 0.75rem;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    background: #ECF0F1;
    
  }
  .addCursor-table td{
    border-top: 5px solid white !important;
  
  }
  .minWidthForTd{
    min-width: 185px;
  }
  .table th {
      padding: .9rem;
      vertical-align: middle;
      border: none;
      font-size: 12px;
      text-transform: uppercase;
      color: #9E9FA0;
      background-color: #fff !important;
      font-weight: 500;
  }
  
  .tableDiv tbody{
    background-color: #fff;
  }
  
  
  .tableDiv tbody tr{
    border-radius: 5px;
  }
  .firstTh{
    border-radius: 5px 0 0 0;
  }
  .lastTh{
    border-radius: 0px 5px 0 0;
  }
  .expanded-col{
      display: none;
  }
  .addCursor-table{
    background: #fff !important;
  }
  .ss-tbody{
    -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
  }
  .form-control-lg{
    border-radius: 12px;
    font-size: 15px;
    padding: .9em;
  }
  .FirstTd{
    background: #ECF0F1;
    /* border-radius: 19px; */
    border-bottom-left-radius: 10px;
    /* border-top-right-radius: 14px; */
    border-top-left-radius: 10px;
  }
  .LastTd{
    background: #ECF0F1;
    /* border-radius: 19px; */
    border-bottom-right-radius: 10px;
    /* border-top-right-radius: 14px; */
    border-top-right-radius: 10px;
  
  }
  .divchng{
    color: red !important;
  }
  .new-row{
    border-radius: 11px !important;
    padding: 2.3rem 4.75rem !important;
    border: 1px solid #d2d0d0 !important;
  }
  .modal-top{
    top: 40% !important
  }
  .modal-header-chng{
    border-bottom: none !important;
    color: #8E1E28; 
  }
  .button_emi{
    width: 131px;
    height: 50px;
  }
  .button_emi:disabled{
    background: #918F8F !important;
    border: #918F8F !important;
  
  }
  .selectChnage{
      width: 32%;
      display: inline;
      height: 100%;
      border: 1px solid darkred;
      padding: 0.25rem; 
      border-radius: 0.25rem
  
  }
  .selectChnage:focus {outline:none;}
  .col-scroll{
    overflow-y: scroll;
    height: 300px;
  }
  .modal-top{
    top: 20% !important;
  }
  .hand-scroll{
    overflow-y: scroll;
    height: 300px;
  }
  .btn_sub{
    margin-top: 5rem;
  }
  .col-div{
    padding: 0.3rem 0.75rem !important; 
    background: #ECF0F1 !important;
    padding: 0.3rem 0.75rem !important;
    border-top: 1px solid #b1afaf !important;
  }
  .FirstTd.active{
    border-bottom-left-radius: 0px !important;
  }
  .LastTd.active{
    border-bottom-right-radius: 0px !important;
  }
  .cursor-img{
      background-image: url(/assets/img/finance/angle-arrow-down.png);
      background-repeat: no-repeat;
      padding: 7px;
  }
  .cursor-img.active{
      background-image: url(/assets/img/finance/up-arrow.png);
  }
  .inner-table th{
    background-color:#ECF0F1 !important;
  }
  .ss-tbody .cursor-img{
    background-color: #ECF0F1 !important
  
  }
  .ss-tbody .heading-chng{
    padding-top: 1.5rem;
    padding-bottom: 0; 
    background-color: #ffffff;
    margin-bottom: 5px;
    color: #808080 !important;
    font-family: 'roboto';
    margin-left: 1.5rem;
    width: 0px;
    font-size: 13px;
    white-space: nowrap;
  }
  .btn-add{
    background: #9b243a;
      color: white;
      padding: 0.55rem;
      font-family: 'roboto';
      font-size: 16px;
      padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  }
  .btn-hand{
    background: #5BC991;
      color: white;
      padding: 0.55rem
  ;
      font-family: 'roboto';
      font-size: 15px;
      border-radius: 1rem
  ;
      padding-left: 1rem
  ;
      padding-right: 1rem
  ;
      padding-top: 0.7rem
  ;
      padding-bottom: 0.7rem
  ;
  }
  .con-filter{
    border: 2px solid #b13865;
    border-radius: 1.25rem;
    padding: 1rem;
  ;
  }
  .qc-col{
    color:#9b243a;
  }
  .btn-hand, .btn-add{
    box-shadow: none !important;
  }
  .col-div{
    padding: 0 !important;
  }
  .modal-header-chng{
    border-bottom: none !important;
    color: #8E1E28; 
  }
  .boqIndicator{
    height: 31px;
    border-radius: 16px;
    background-color: #ffc300;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
  }
  .pop{
    position: unset;
    font-size: 12px;
  }
  .qc-div{
    width: 15%;
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    border: 1px solid #b13865;
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  
  .qc-main-div{
    display:inline;
    margin-left: 3rem;
  }
  .colr{
    color: #af080f !important;
    font-weight: 400;
  }
   
  .shadow:hover {
       box-shadow:0px 16px 9px -14px rgba(1,1,1,0.2);
  }
  
  
  .modal{
    overflow-y: auto !important;
  }
  .Vcard:hover {
    box-shadow: 1px 1px 18px 5px rgba(1,1,1,0.2);
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .Vdiv{
      border-radius: 6px;
    
      box-shadow: 0 0 6px 1px #eee;
      border-radius:5px;
      color:black;
      font-size: 15px;
      font-style: italic;
      z-index: 2;
      line-height: 1.53;
      letter-spacing: 0.1px;
  }
  .Vhvr.Vbtm>.arrow {
      top: -11px;
      margin-left: 46px;
      border-top-width: 0;
     
      border-bottom-color: rgba(0,0,0,.25);
  }
  .Vhvr>.arrow, .Vhvr>.arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
  }
  .Vhvr>.arrow {
      border-width: 11px;
  }
  .Vhvr.Vbtm>.arrow:after {
      top: 1px;
      margin-left: -10px;
      content: "";
      border-top-width: 0;
      border-bottom-color: #fff;
      border-width: 10px;
  }
  .popover>.arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
  }
  .dropdown-menu {
      position: absolute;
      top: 125%;
      left: -93px;
      display: none;
      float:left;
      min-width: 17rem;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
    }
    .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background-color: none !important; 
  }
  .ss-tbody div:last-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  
  .ss-tbody div:first-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  }
  .filter2{
    border: 1px solid #d5d7d8;
    margin: 6px;
    padding: 3px;
  }
  .filter2 .col_buttonss.active{
  background-color: blue!important;
  color: white!important;
  }
  .fltype{
    color: blue;
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
  }
  .col_buttons{
    border: 1px solid #d5d7d8;
    width:32%;
    font-size: 14px;
    cursor: pointer;
    color:#707070;
    background-color: white;
    font-weight: 600;
  }
  .floptions{
    margin: 3px;
  }
  .greencolor{
    background: #d2fee5;
  }
  .pinkcolor{
    background: #fddbdb;
  }
  .border-new{
    border-bottom: 1px solid #ECF0F1;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
  }
  .select-department{
   background-color: white;
      border: 2px
   solid #b94b74;
      cursor: pointer;
      border-radius: 1rem
  ;
      color: #b94b74;
      padding-left: 2rem
  ;
      padding-right: 2rem
  ;
  }
  .select-active{
     background-color: #b94b74;
     color: #fff;
  }
  button:active {
      outline: none;
  }
  .boq-btn{
    background: #F7F7F7;
    border-radius: 4px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #585858;
    padding: 10px !important;

}
.active-boq{
    background: #F3E6EA;
    border: 1px solid #8D0528;
    border-radius: 4px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #8D0528;
    padding: 10px !important;
}
.Boq-data-view{
    /* width: 100%;
    border: 2px solid royalblue;
    border-radius: 15px; */
    background: #FFFFFF;
}

.zeroColStyle {
  width: 100%;
  padding-left: 15px;
  margin-bottom: 20px;
}

.dateStyle {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #585858;
}

.zeroTofiftyContainer{
  width: 100%;
  padding-left: 15px;
  margin-bottom: 15px;
}

.newColStyle {
  padding-left: 20px !important;
  padding-right: 8px !important;
}

.newColStyle2 {
  padding-left: 20px !important;
}

.NodeForBoq{
    height: 77px;
    background: #FAFAFA;
    border: 1px solid #ECF0F1;
    box-shadow: inset 2px 0px 0px #f0f0f0;
    border-radius: 8px;
    padding: 12px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #585858;
}
.col-23{
    width: 15%;
    margin-left: 19px;
    display: block;
}
.border_coloring{
  border-radius: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 0.5rem!important;
}
  .col-234{
    width: 17.5%;
    margin-left: 19px;
    display: block;
    margin-right: 10px;
    /* margin-top: 10px; */
  }

  .text-center {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #585858;
    text-align: center;
  }

  .preProdStyle {
    display: flex;
    align-items: center;
  }

  .col-2345{
    width: 17.5%;
    margin-left: 19px;
    display: block;
    margin-top: 12px;
    margin-right: 10px;
  }

  .mainRow {
    padding: 20px 24px;
  }

  .leadHeader {
    background: #FFFFFF;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
  }

  .leadName {
    color: #343434;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-right: 15px;
  }

  .leadCol2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ageStyle {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #565656;
  }

  .boqRow {
    background: #FFFFFF;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  .boqCol1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .boqCol2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .cardHead1 {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #585858;
    text-align: center;
    margin-bottom: 9px;
  }

  .colHead {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #343434;
  }

  .numberStyle {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7E7E7E;
    margin-bottom: 10px;
  }

  .boqStyle {
    color: #7E7E7E;
    font-weight: 400;
    font-family: 'Arimo';
    font-size: 18px;
  }

  .preprodStyle {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .cardWidth {
    width: 19% !important;
  }

  .modal-title {
    font-family: 'Arimo';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
  }

  .close {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
  }

  table .th {
    padding: .9rem;
    vertical-align: middle;
    border: none;
    font-size: 12px;
    color: #dedede;
    background-color: #ffebf0 !important;
    min-width: 12rem;
  }
  table, td {
   
    border-collapse: collapse;
    /* text-align: center; */
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  table tbody {
    display: table;
    width: 100%;
    border: 1px solid #000;
  }

  .rowIdealStyle {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .rowIdealStyle1 {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .idealTextStyle {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #515151;
  }

  .detailscolor {
    color: #8d0528;
   
  }
  .border-sam{
    border: 1px solid #898d8e;
    overflow-x: hidden;
  }
  .border-rightex{
    border-right: 2px solid #7E7E7E;;
  }
  .leadLevel th{
 
    text-align: center;
   
 }
 
 
 .leadLevel{
 background: #ECF0F1;
 border: 1px solid #ECF0F1;
 font-family: 'Arimo';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 18px;
 height: 45px;
 /* or 146% */
 
 text-align: center;
 
 /* Black */
 
 color: #343434
 }
 .centeralignNode{
   display: flex;
   justify-content: center;
   font-size: 12px;
 }
 .node_details{
  background: #FFFFFF;
  border: 1px solid #ECF0F1;

}
.node_details th{
  padding: 18px;

}
.borderex{
  border-top: 2px solid #7E7E7E;;
}
.leadleve50{
  background: #FFFFFF;
border: 1px solid #ECF0F1;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
}
.modal_lead_info{

  background: #8D0528;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  
  
  }
  .close-lead{
    color: #fff !important;
    opacity: 1;
  }
  .Lead-details12 p{
    font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #343434;
  
  }
  .Lead-details12 .col-6,.col-4,.col-8 {
    margin-top: 0.45rem;
  }
  .font-weight-bold2 p{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  .Font-style_first{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    }
    .Font-style_first .col-md-6{
      margin-top: 0.5rem!important;
    }

    .Select_dates{
      height: 52px;
      background: #FFFFFF;
      border: 1px solid #7E7E7E;
      border-radius: 7px;
      }
      
      .text-area-noc{
      background: #FFFFFF;
      border: 1px solid #7E7E7E;
      border-radius: 7px;
      
      }
      .save_changes {
        height: 50px;
        background: #8D0528;
        border-radius: 8px;
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 164px;
        border: solid;
        
        }
        .min_widthTD{
          min-width: 150px
        }

        .navigation-indicators{
          font-family: 'Arimo';
        }
    
       .close:focus {
          outline: none;
        }
        .close{
          float: right;
          font-size: 38px;
          font-weight: 200;
          line-height: 1;
          color: #000;
          text-shadow: 0 1px 0 #fff;
          }
          .detailscolorFmail{
            font-family: 'Arimo';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #515151;
          }
          .Date_enter{
            background: #FFFFFF;
            border: 1px solid #7E7E7E;
            border-radius: 7px;
            height: 52px;
            
            }
            .iconbox .style12121{
              margin-top: 0.25rem!important;
              font-size: 20px;
            }
            .table_tyli{
              font-size: 20px;
              font-family: 'Arimo';
            }
            .Font-style_arimo{
              font-family: 'Arimo';

            }
            #orderPipelineModal table{
              border: 1px solid #eeeeee;
            }
            #orderPipelineModal tbody{
              border: none;
            }
            .new-table {
                border-collapse: inherit;
                border-spacing: 0 10px;
            }
            .br-radious {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            .br-radious2 {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            .rowfordata {
                height: 53px;
                background: #FFFFFF;
                font-family: 'Arimo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
            }
            
            .rowfordatashade  {
                font-family: 'Arimo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #565656;
                height: 53px;
                background: #FFFFFF;
            }
            .bg-sky{
              background: #ECF0F1;
            }

.text-black{
  color: #000 !important;
  font-size: 15px;
}

            