/* .bg_color {
  background-color: #ffebf0 !important;
  height: 5rem;
  border: 2px solid;
} */

.row_style {
  background-color: #ffffff !important;
  height: 80px;
}
table {
  width: max-content;
  background-color: white;
  border: 1px solid #ACACAC;
}

th {
  height: 52px;
  left: 348px;
  top: 748px;
  background: rgba(141, 5, 40, 0.05);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: #8C031F;
  border-left: 1px solid #ACACAC;
}

tr:nth-child(even) {
  background: #F5F5F5;
}

tr:nth-child(odd) {
  background: white;
}

td {
  width: 170px;
  text-align: center;
  height: 52px;
  font-weight: 400;
  font-size: 14px;
  color: #515151;
  border-left: 1px solid #ACACAC;
}

.customoverflow {
  overflow-x: auto;
  margin-right: 0px !important;
}

.redirectBtn {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background: rgb(81 81 81 / 6%);
}

.customRowInputSearch {
  display: flex;
  flex-direction: row;
}

.customSearchInput {
  height: 100%;
  width: 100%;
  font-size: 14px;
  border: 1px solid lightgray;
  color: darkgrey;
  padding-left: 15px;
}

.customCardMargin {
  margin-left: 1%;
  margin-right: 1%;
}

.customBtn {
    background-color: #8c031f;
    color: white;
    font-weight: 700;
    cursor: pointer;
}